#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text{
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}
.both-Button{
  display: flex;
  height: 20%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.yesButton{
  
  background-color: #c90303dd;
  color: #fff;
  font-weight: bold;
  transition: #8d0101 0.3s ease;
}

.yesButton:hover {
  background-color: #8d0101; 
}
